#!/usr/bin/env zsh

# `.aliases` is used to provide custom aliases.


# === Aliases ===

# ls: Replace standart 'ls'. Show icons, group directories first.
alias ls='eza --color=always --group-directories-first --icons'

# ll: Long list (-l) of all files (-a) with icons and permissions in numbers (755).
alias ll='eza -la --icons --octal-permissions --group-directories-first'

# l: Compact view with Git status (--git) and column headers.
alias l='eza -bGF --header --git --color=always --group-directories-first --icons'

# llm: Long list, sorted by modification date (--sort=modified). Show last modified files.
alias llm='eza -lbGd --header --git --sort=modified --color=always --group-directories-first --icons' 

# la: Long list (-long) of all files (-all) with group column (--group).
alias la='eza --long --all --group --group-directories-first'

# lx: Extremely detailed list with extended attributes and color scale.
alias lx='eza -lbhHigUmuSa@ --time-style=long-iso --git --color-scale --color=always --group-directories-first --icons'

# lS: Simple list in one column (-1).
alias lS='eza -1 --color=always --group-directories-first --icons'

# lt: Show content as a tree (--tree) with depth of 2 levels (--level=2).
alias lt='eza --tree --level=2 --color=always --group-directories-first --icons'

# l.: Show only hidden files and folders (dotfiles).
alias l.="eza -a | grep -E '^\.'"

# Highlight `cat` output with bat:
alias cat='bat --paging never --decorations never --plain'

# Lock the screen (when going AFK):
alias afk='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'

